@page
@model Libro_Book_Store.Pages.ShopModel
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Pages/_Layout.cshtml";
}

<header>
    <div class="text-center ">
        <h1>Books</h1>
        <h2>Search our selection of books with something for everyone!</h2>
    </div>
</header>
<body>
    <div>
        <img src="/Images/Logo.png" />
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
            </tr>


        </thead>
        <tbody>
            @foreach(var Book in Model.Libros)
            {
                <tr>
                    <td>@Book.Title</td>
                    <td>@Book.Author</td>
                    <td>@Book.Price.ToString("C")</td>
                    <td>@Book.Description</td>
                    <td>@Book.ImageData</td>
                </tr>
            }




        </tbody>


    </table>




</body>